.container-p-4 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
button:hover {
    color:#fff !important;
}
.discount-num {
    height: 32px;
    background: #f03737;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
}