.container-p-4 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}
button,button:hover {
    color:#fff !important;
}
.discount-num {
    height: 32px;
    background: #f03737;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
}
.list-group-item {
    color: black !important;
}
.btn-outline-primary {
    color:#52ab98 !important;
    &:hover{
        color:#fff;
    }
}
h2 {
    font-family: 'HK-medium';
    color: #2b6777;
    text-align: left;
}
.filter-option {
    text-align: left;
}
.recommend-books {
    .slick-list {
        padding: 30px 0 !important;
        .slick-slide {
            padding: 5px !important;
        }
    }
}
.nav-item {
    .nav-link {
        color: #2b6777 !important
    ;}
}
.menu-col {
    .list-group {
        a {
            text-decoration: none;
            .list-group-item-action {
                font-size: 13px;
                padding: 5px 20px;
                &:hover {
                    color: #2b6777 !important;
                }
            }
        }
    }
}