.header-panel {
    .container-header{
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-field{
            max-width: 600px;
        }
        .right-cols {
            display: flex;
            justify-content: end;
            align-items: center;
            .action-header {
                border: 1px solid #52ab98;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .login-icon {
                margin-right: 30px;
            }
        }
    }
    .header-contact {
        background-color: #c8d8e4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        .contact-info {
            display: flex;
            justify-content: end;
            .phone-number-contact {
                display: flex;
                align-items: center;
                font-size: 20px;
                color: #52ab98;
                margin-right: 20px;
            }
            .icon-contact {
                margin: 0 10px;
            }
        }
    }
}