.header-panel {
    .container-header{
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-field{
            max-width: 600px;
        }
        .right-cols {
            display: flex;
            justify-content: end;
            align-items: center;
            .action-header {
                border: 1px solid #52ab98;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                &:hover {
                    background: #c8d8e4;
                }
            }
            .login-icon {
                margin-right: 30px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .header-contact {
        background-color: #2b6777;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        .contact-info {
            display: flex;
            justify-content: end;
            .phone-number-contact {
                display: flex;
                align-items: center;
                font-size: 20px;
                color: #fff;
                margin-right: 20px;
            }
            .icon-contact {
                margin: 0 10px;
            }
        }
    }
}
.book-card {
    display: flex;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .image-book {
      img {
        width: 60px;
      }
    }
    .book-info {
      font-size: 16px;
      font-weight: bolder;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 305px;
      padding-left: 20px;
      .book-title {
        font-size: 16px;
        font-family: 'HK-medium';
        font-weight: bold;
        color: #000;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
}
.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown {
    .account-avatar {
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 20px;
        font-family: 'Circular-Loom';
        font-weight: 600;
        color: white;
        margin-right: 15px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: none !important;
        &::after {
            display: none;
        }
    }
}