@import './common/general.scss';
@import './common/header.scss';
@import './common/footer.scss';
@import './pages/homepage.scss';
@import './components/card.scss';
@import './components/newBookPoster.scss';
@import './components/customSlider.scss';
@import './components/loginModal.scss';
@import './components/modal.scss';
