.book-details-session {
  h2 {
    font-size: 24px;
  }
  margin-top: 40px;
  div {
      text-align: left;
  }
  .title {
    text-align: left;
  }
  .author, .publisher, .year, .total-page {
    span {
      color: green;
    } 
  }
  .description {
    margin-top: 20px;
    display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          height: 100px;
          overflow: hidden;
  }
  .devider {
    width: 100%;
    border: 1px dashed #acacac91;
    margin-top: 10px;
  }
  .price-row {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    .price-wrapper {
      margin-right: 20px;
    }
  }
  .payment-col {
    display: flex;
    align-items: center;
    justify-content: center;
    .payment-info {
    padding: 20px;
    max-width: 300px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .payment-box {
      .amount {
        display: flex;
        align-items:center;
        }
      }
    }
  }
}
.list-menu-wrapper {
  margin-top: 40px !important;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  .list-menu-detail {
    display: inline;
    font-size: 22px;
    padding: 20px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  .active-tab {
    text-decoration: underline;
    color: #6cb8a7;
  }
}
.book-introduce-wrapper {
  font-size: 20px;
  padding: 20px 0;
  .book-title{
    padding: 20px 0;
  }
}
.book-detail-wrapper {
  margin-top: 40px !important;
  &__title {
    font-size: 24px;
  }
  .item-detail {
    padding: 5px 0;
    font-size: 20px;
  }
}
.book-comment {
  .rating-result-box {
    width: 600px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .col-left {
      width: 200px;
      h3 {
        font-size: 20px;
        text-align: center;
      }
      h4 {
        font-size: 16px;
        text-align: center;
      }
      h2 {
        text-align: center;
      }
    }
    .col-right {
      width: 400px;
      border-left: 1px gray dashed;
      ul {
        list-style: none;
      }
      .number-start {
        .list-star {
          color: yellow;
          font-size: 25px;
        }
      }
      .progress-warning {
        display: inline-block;
        width: 300px;
        height: 10px;
        .bar {
          height: 10px;
          background-color: cadetblue;
        }
      }
    }
  }
}
.comment-wrapper {
  margin-top: 50px !important;
  .comment-box {
    display: flex;
    margin-top: 30px;
    .image-user {
      img {
        width: 70px;
      }
    }
    .comment-detail {
      padding-left: 20px;
    }
  }
}
.feedback-form-wrapper {
  width: 750px !important;
  padding: 20px;
  margin-left: 10px;
  border: 2px solid #5f9ea06b;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 50px !important;
  .alert {
    padding: 5px;
    margin: 0;
    font-size: 14px;
    color: red;
  }
}
