.search-field-admin {
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
}
.table-genre-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // max-height: 100vh;
  
  .header-genre {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // background: #006666;
  }
  .table-wrap {
    max-height: calc(100vh - 70px);
    overflow: hidden;
    overflow-y: auto;
  }
  .table-genre {
    width: 100%;
    text-align: left;
    margin-top: 2%;
    &__id {
      text-align: center;
    }
    &__action {
      text-align: center;
    }
    
  }
  .table-genre-pagination {
    margin-top: 20px;
  }
}
.table-book-wrap {
  max-height: calc(100vh - 150px);
  overflow: hidden;
  overflow-y: auto;
}
.title-page-manage {
  color: #114444 !important;
}
.chart-revenue {
  canvas {
    width: 100% !important;
  }
}