@font-face {
	font-family: "HKGroteskPro-Medium";
	src: url("./assets/fonts/HKGroteskPro-Medium.woff2");
	font-weight: bold
}
@font-face {
	font-family: "HKGroteskPro-Regular";
	src: url("./assets/fonts/HKGroteskPro-Regular.woff2");
	font-weight: bold
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: "HKGroteskPro-Regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}