.admin-layout {
  a {
    text-decoration: none;
  }
  &__logo{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__col1 {
    padding: 0 !important;
  }
  &__list {
    border-radius: 0 !important;
    padding: 10px !important;
    min-height: calc(100vh - 70px);
    background: #006666;
    padding: 5px;
    &--item {
      background: none !important;
      border: none !important;
      margin-bottom: 5px;
      font-size: 13px;
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
      border-radius: 4px !important;
      gap: 10px;
      div {
        color: #fff;
        font-size: 11px;
      }
    }
  }
  .list-group-item-light.list-group-item-action:focus {
    color: #006666 !important;
    background-color: #114444 !important;
    svg {
      fill: #fff200;
    }
    div {
      color: #fff200;
    }
  }
  .list-group-item-light.list-group-item-action:hover {
    color: #006666 !important;
    background-color: #114444 !important;
    svg {
      fill: #fff200;
    }
    div {
      color: #fff200;
    }
  }
}
.header-order-manage {
  height: 70px;
  div {
    text-align: left;
    padding: 10px;
  }
}
.header-book-manage {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}