.book-card-col {
    padding-top: 12px;
    padding-bottom: 12px;
}
.book-card-wrapper {
    background: #ffffff;
    border: 1px solid #eaeaea;
    padding: 10px;
    cursor: pointer;
    color: #66645c;
    text-align: left;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s;
    &:hover{
        transform: translateY(2px);
        transition: 0.2s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .pic-book {
        width: 34%;
        max-height: 160px;
        margin-top: -20px;
        float: left;
        text-align: center;
        img {
            height: 150px;
            width: 100%;
            border: 1px solid #d8d8d8;
            overflow: hidden;
        }
    }
    .text-info {
        width: 58%;
        padding-left: 15px;
        float: left;
        height: 140px;
        .book-title {
            height: 70px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.338);
            .title-wrapper{
                height: 21px;
                font-size: 16px;
                font-weight: bolder;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 190px;
            .title {
                font-size: 18px;
                font-family: 'HK-medium';
                font-weight: bold;
                color: #000;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            }
            .author {
                font-size: 14px;
                color: #848282;
                overflow: hidden;
                height: 19px;
                display: block;
                margin-top: 10px;
            }
        }
        .book-description {
            .description {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                height: 65px;
                overflow: hidden;
                font-size: 14px;
            }
        }
    }
    .price-box {
        float: left;
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
        padding-right: 10px;
        border-top: 1px dashed  rgba(128, 128, 128, 0.338);
        .discount-num {
            float: left;
            height: 32px;
            background: #f03737;
            text-align: center;
            color: #ffffff;
            border-radius: 4px;
            padding: 5px 10px;
        }
        .old-price {
            float: right;
        }
        .new-price {
            float: right;
            margin-left: 20px;
        }
    }
}
.mini-book-card {
    height: 100px;
    margin-top: 10px;
    .row {
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.295);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            transform: translateY(2px);
            transition: 0.2s;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .book-image {
            height: 100%;
            img {
                height: 100%;
            }
        }
        .book-info {
            max-width: 100%;
            text-align: left;
            .book-title {
                font-size: 18px;
                font-family: 'HK-medium';
                font-weight: bold;
                color: #000;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .price-box {
                .old-price {
                    text-decoration: line-through;
                    margin-right: 20px;
                }
            }
        }
    }
}