.login-modal {
    .modal-header{
        background-color: #63b3a2;
        color: #fff;
        font-family: "HK-medium";
    }
    .forget-password-col {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.rnc__notification-title, .rnc__notification-message {
    text-align: left;
}